html
    head
        title StudyFinder
        script(src="https://unpkg.com/axios@0.18.0/dist/axios.min.js")

        style.
            body {
                margin: 50px 20px;
                color: #333333;
                font-family: 'Roboto', sans-serif;
            }
            ul {
                margin: 5px 0;
            }
            li {
                text-transform: capitalize;
            }

        body
            block content