extends layout

block content
    //h1 There are #{subjects.length} subjects available:
    h1 Hi #{applicant.name}!

    p You are interested in #{applicant.interests[0].name}, #{applicant.interests[1].name}